:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Roboto", sans-serif;
}
body {
  background: #1c0802;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/footer_bg_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url("images/hero_bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px 0;
}
header h1 {
  font-family: var(--primary-font);
  font-size: 128px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 25px 0;
  line-height: 1.2;
}
header h2 {
  font-family: var(--secondary-font);
  font-size: 40px;
  font-weight: normal;
  margin: 0 auto;
}
header h3 {
  font-family: var(--secondary-font);
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 auto;
  letter-spacing: 5px;
}
header a,
main a {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  background: white;
  color: black;
  padding: 16px 32px;
  border-radius: 100px;
  letter-spacing: 0px;
  margin-top: 32px;
  display: inline-block;
}
main {
  background: #1c0802;
}

.img-responsive {
  max-width: 100%;
  border-radius: 10px;
}
main h3 {
  color: #f77660;
  font-family: var(--secondary-font);
  font-size: 13px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 2px 0;
  margin: 0;
}
main h2 {
  color: white;
  font-family: var(--primary-font);
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}
main p {
  color: white;
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  opacity: 0.8;
}
main a {
  display: block;
  width: fit-content; /* Limits width to text size + padding */
  margin: 0 auto;
} /* aligns the button to the center of the space as well as limiting its size*/
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-col {
  grid-template-columns: auto auto;
}
.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-col-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.text-center {
  text-align: center;
}
.card {
  background: white;
  border-radius: 15px;
}
.video {
  width: 100%;
  aspect-ratio: 16/9;
}
.card-body {
  padding: 24px 32px;
}
.card h4 {
  color: black;
  font-family: var(--secondary-font);
  font-size: 24px;
  margin: 0;
  padding-top: 5px;
}
.card h5 {
  color: black;
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding-top: 35px;
}
.card p {
  color: black;
  font-family: var(--secondary-font);
  font-size: 16px;
  padding-top: 5px;
  margin: 0;
}
.btn {
  font-size: 16px;
  display: block; /*align btn to center and full width*/
  width: 100%;
  text-align: center;
  padding: 16px 0;
  background: #1c0802;
  color: white;
  margin: 20px auto;
}
footer {
  color: white;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/footer_bg_2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer h3 {
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
footer p {
  font-family: var(--secondary-font);
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  font-family: var(--secondary-font);
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0.7;
}
footer a {
  font-family: var(--secondary-font);
  color: white;
  line-height: 24px;
  letter-spacing: 1px;
}
@media (max-width: 1200px) {
  section {
    padding: 40px;
  }
}
@media (max-width: 960px) {
  header {
    padding: 30px 0;
  }
  header h1 {
    font-size: 50px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a,
  main a {
    font-size: 12px;
    padding: 8px 16px;
    margin-top: 16px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
  section {
    padding: 30px;
  }
  main h2 {
    font-size: 26px;
  }
  main h3 {
    font-size: 14px;
  }
  .img-responsive {
    display: block;
    margin: 0 auto;
  }
}
